	<div id= "footer"><!--Start footer.-->
			<div class = "span-22">
				<%= link_to_unless_current "Home",     root_path %> |
		        <%= link_to_unless_current "About",	   about_path %> |
		        <%= link_to_unless_current "Contact",  contact_path %> |
		        <%= link_to_unless_current "Terms and Condition",  terms_path %>
		        

       		 </div><!--End of Spand-22-->
	</div><!--End Footer.-->